@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
// Screen Size
$sz-1200: 1200px;
$sz-1024: 1024px;
$sz-992: 992px;
$sz-900: 900px;
$sz-768: 768px;
$sz-600: 600px;
$sz-480: 480px;
$sz-320: 320px;
// Background Color
$bg-1: #233785;
$bg-2: #f2f2f2;
$bg-3: #e0e0e0;
$bg-4: #ffffff;
$bg-5: #444444;
$bg-6: transparent;
// Text Color
$cl-1: #233785;
$cl-2: #333333;
$cl-3: #555555;
$cl-4: #999999;
$cl-5: #ffffff;
$cl-6: transparent;

// Global
* {
  font-family: "Roboto", sans-serif;
}

// Header
// Top Bar
.bar {
  background: $bg-1;
  font-size: 14px;
  padding: 10px 0;

  .anchor-list {
    a {
      color: $cl-5;
      text-decoration: none;
      border-right: 1px solid rgba($cl-5, 0.2);
      padding: 0 15px;

      &:hover {
      }

      &:nth-last-child(1) {
        border: none;
      }
    }

    @media screen and (max-width: $sz-768) {
      text-align: center;
    }
  }

  .contact-list {
    text-align: right;

    p {
      color: $cl-5;
      display: inline-block;
      margin-bottom: 0;
      margin-right: 15px;

      &:nth-last-child(1) {
        margin-right: 0px;
      }

      @media screen and (max-width: $sz-480) {
        display: block;
        padding-top: 5px;
      }

      a {
        color: $cl-5;
        text-decoration: none;

        &:hover {
        }
      }
    }

    @media screen and (max-width: $sz-768) {
      text-align: center;
    }
  }
}

// Navigation Menu
.nav {
  background: $bg-4;
  box-shadow: 0 3px 10px $bg-3;
  .navbar {
    margin: 0;
    padding: 0;

    .navbar-toggler {
      background: $bg-6;
      border: 1px solid $cl-1;
      border-radius: 0px;

      &:focus {
        box-shadow: 0 0 1px $bg-1;
      }

      span {
        color: $cl-1;

        &:hover {
        }
      }
    }

    .navbar-nav {
      .nav-item {
        &:hover {
        }

        .nav-link {
          position: relative;
          padding: 7px 15px;
          color: $cl-3;

          @media screen and (min-width: $sz-992) {
            &::before {
              position: absolute;
              content: "";
              left: 30%;
              bottom: 0;
              width: 20%;
              height: 3px;
              background: $bg-6;
              transition: 0.3s ease-in-out;
            }

            &:hover {
              color: $cl-1;

              &::before {
                left: 0%;
                width: 100%;
                background: $bg-1;
              }
            }
          }

          @media screen and (max-width: $sz-992) {
            &:hover {
              background: $bg-1;
              color: $cl-5;
            }
          }
        }

        .active {
          color: $cl-1;

          @media screen and (min-width: $sz-992) {
            &::before {
              position: absolute;
              content: "";
              left: 0;
              bottom: 0;
              width: 100%;
              height: 3px;
              background: $bg-1;
            }
          }

          @media screen and (max-width: $sz-992) {
            &:hover {
              background: $bg-1;
              color: $cl-5;
            }
          }
        }

        @media screen and (min-width: $sz-992) {
          &:hover {
            .dropdown-menu {
              display: block;
            }
          }
        }
      }

      .dropdown {
        .dropdown-menu {
          border: 1px solid rgba($bg-1, 0.1);
          border-radius: 0;

          .dropdown-item {
            &:hover {
              background: $bg-1;
              color: $cl-5;
            }
          }

          @media screen and (max-width: $sz-992) {
            border: none !important;
            margin-left: 20px;
          }
        }
      }
    }
  }
}

// Main Menu
.main-menu {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  .navbar-brand {
    padding: 15px 0;

    img {
      width: 250px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }
}

// Scrolled Menu
.scrolled-menu {
  box-shadow: 0 3px 10px $bg-3;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  .navbar {
    .navbar-brand {
      img {
        width: 200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
  }
}

//Footer
.footer {
  .contents {
    background: rgba($bg-1, 0.9);
    padding: 50px 0;
    font-size: 14px;
    line-height: 25px;

    .logo {
      margin-bottom: 10px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .heading {
      h3 {
        color: $cl-5;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }

    .description {
      p {
        color: rgba($cl-5, 0.9);
        margin: 0;
      }
    }

    .links {
      a {
        color: rgba($cl-5, 0.9);
        display: block;
        text-decoration: none;
        margin-bottom: 5px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .contact {
      a {
        color: rgba($cl-5, 0.9);
        display: block;
        text-decoration: none;
        margin-bottom: 5px;

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        color: rgba($cl-5, 0.9);
        margin: 0;
      }
    }

    .social {
      margin-top: 20px;

      a {
        color: rgba($cl-5, 0.7);
        font-size: 1.2rem;
        margin: 0 7px;
        transition: 0.3s ease-in-out;

        &:nth-child(1) {
          margin-left: 0;
        }

        &:hover {
          color: $cl-5;
        }
      }
    }

    .applications {
      margin-top: 20px;

      img {
        display: inline-block;
        margin: 5px;
        width: 100px;
      }
    }
  }

  .copyright {
    background: rgba($bg-1, 1);
    padding: 15px 0;
    font-size: 14px;
    text-align: right;

    p {
      color: $cl-5;
      margin: 0;

      a {
        color: $cl-5;
      }
    }
  }
}

// Animated Heading
.a-h1 {
  h1 {
    text-align: center;
    position: relative;
    width: max-content;
    padding-bottom: 10px;
    margin: 0 auto;
    &::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 5px;
      background: $bg-1;
      right: 0;
      bottom: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    &:hover {
      &::before {
        width: 100%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
  }
}

// Form
.form {
  form {
    .field-wrp {
      margin-bottom: 20px;
      label {
      }
      input,
      select,
      textarea {
        border-radius: 0px;
        margin-bottom: 10px 0;
        &:focus {
          box-shadow: 0 0 5px rgba($bg-1, 0.3);
        }
      }

      .radio {
        input {
          border-radius: 50px !important;
        }
      }
    }

    button {
      background: $bg-1;
      color: $cl-5;
      margin-top: 20px;
      border-radius: 0px;
      padding: 8px 25px;
      &:focus {
        box-shadow: 0 0 5px rgba($bg-1, 0.5);
      }
    }
  }
}

// Main Banner
.main-banner {
  background: url("../images/default/rez-header-bg-1920-1x.jpg") no-repeat $bg-1;
  background-size: cover;
  background-position: center;

  .overlay {
    background: rgba($bg-1, 0.5);
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 70px 0;

    .content {
      height: 100%;
      background: rgba($bg-4, 0.9);
      padding: 50px;

      h3 {
        color: $cl-1;
      }

      p {
        color: $cl-2;
        font-size: 16px;
        font-weight: 400;
      }

      ul {
        color: $cl-2;
        list-style-type: number;

        li {
        }
      }

      .btn {
        background: $bg-1;
        color: $cl-5;
        margin-top: 20px;
        padding: 10px 30px;
        border-radius: 50px;

        &:focus {
          box-shadow: 0 0 5px rgba($bg-1, 0.5);
        }
      }
    }

    .form {
      height: 100%;
      background: rgba($bg-4, 0.9);
      padding: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        color: $cl-1;
      }

      form {
        width: 100%;

        input,
        select {
          border-radius: 0px;
          margin: 10px 0;
          height: 40px;
          border: 1px solid $bg-1;

          &:focus {
            box-shadow: 0 0 5px rgba($bg-1, 0.3);
          }
        }

        button {
          background: $bg-1;
          color: $cl-5;
          width: 100%;
          height: 40px;
          margin-top: 20px;
          border-radius: 0px;

          &:focus {
            box-shadow: 0 0 5px rgba($bg-1, 0.5);
          }
        }
      }
    }
  }
}

// Courses
.courses {
  background: rgba($bg-2, 0.3);
  padding: 70px 0;
  .title {
    margin-bottom: 30px;
  }

  .course {
    &:nth-child(odd) {
      .course-con {
        background: rgba($bg-2, 0.2);

        &:hover {
          background: rgba($bg-3, 0.5);
        }
      }
    }

    &:nth-child(even) {
      .course-con {
        background: rgba($bg-2, 0.8);

        &:hover {
          background: rgba($bg-1, 0);
        }
      }
    }

    .course-con {
      border: 1px solid rgba($bg-1, 0.1);
      padding: 20px 0;
      text-align: center;

      &:hover {
        .image {
          img {
            transform: scale(1.2);
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }
        }
      }

      .image {
        margin-bottom: 20px;

        img {
          width: 70px;
          height: 70px;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
      }

      .heading {
        a {
          // font-size: 1.3rem;
          text-decoration: none;
          color: $cl-1;
          font-weight: 400;
        }
      }
    }
  }
}

// About Us
.about-us {
  .information {
    background: $bg-4;
    padding: 70px 0;
    .typography {
      h1 {
      }
      p {
        margin-top: 30px;
      }
    }
  }

  .banner {
    overflow: hidden;
    .banner-img {
      height: 100%;
      background: url(../images/pages/img39.jpg);
      background-size: cover;
      background-position: center;
    }
    .typography {
      padding: 50px;
      background: $bg-5;
      color: $cl-5;
      h1 {
      }
      p {
      }
    }
  }
}

// Career
.career {
  padding: 70px 0;
  .information {
    background: $bg-4;
    .typography {
      border-bottom: 1px solid $bg-2;
      padding-bottom: 30px;
      margin-bottom: 30px;
      h1 {
      }
      p {
        margin-top: 30px;
      }
    }
  }
}

// Contact
.contact-p {
  padding: 70px 0;
  .information {
    background: $bg-4;
    .typography {
      border-bottom: 1px solid $bg-2;
      padding-bottom: 30px;
      margin-bottom: 30px;
      h1 {
      }
      p {
        margin-top: 30px;
      }
    }
  }
}
